body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #CECECE;
    font-family: Ariel, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h1{
	font-size: 38pt;
	text-decoration: underline;
}

h2{
    font-size: 28pt;
}

p{
    font-size: 14pt;
}

.ItemTable{
    border: 1px solid black;
}

.ItemTable td{
    border: 1px solid black;
}

.ItemTable th{
    border: 1px solid black;
}