@{
    ViewBag.Title = "Register";
}

<h2>Please fill the form to register!</h2>

<!-- onsubmit runs ValidateForm to see if input is valid. If it returns false, action is not run. -->
<form name="Reg" action="Success" method="get" onsubmit="return ValidateForm()">
    <p>First Name:</p>

    <input type="text" id="First" name="FirstName" required />

    <p>Last Name:</p>

    <input type="text" id="Last" name="LastName" required />

    <p>Email:</p>

    <input type="text" id="Email" name="Email" required />

    <fieldset id="PasswordInput">
        <p>Password:</p>

        <input type="text" id="Password" name="Password" required />

        <p>Confirm Password:</p>

        <input type="text" id="PasswordConfirm" name="PasswordConfirm" required />
    </fieldset>
    <br/>
    <input type="submit" name="submit" value="Submit">
</form>

<script>
    function ValidateForm() {
        var email = $("#Email").val();
        var pass = $("#Password").val();
        var passConfirm = $("#PasswordConfirm").val();

        if (pass !== passConfirm) {
            alert("Passwords do not match.");
            return false;
        }

        //if (email.indexOf('') !== 1) {
        //    alert("Invalid email address.");
        //}
    }
</script>